<div class="chat-list-item">
  <img class="chat-list-item__avatar avatar-circle-small"/>
  <div class="chat-list-item__chat-name">{{this.chatName}}</div>
  <div class="chat-list-item__info-group">
    <div class="time">{{this.time}}</div>
    <div class="unread-count">{{this.unreadCount}}</div>
  </div>
</div>