<form class="settings-form" action="" method="get">
    {{> BackButton href="./messages" withPencil="true"}}
    {{> AvatarInput withPencil="true"}}

    <ul class="personal-data edit-disabled">
        {{> PencilIconButton href="./profile-editing"}}
        {{#each fields}}
            <li>
                {{> InputField }}
            </li>
        {{/each}}
    </ul>
    {{> LinkButton type="button" href="./password-editing" displayName="Change password"}}
</form>
