<form class="settings-form" action="" method="get">
    {{> BackButton href="./profile" withPencil="true"}}

    <ul class="personal-data-edit">
        {{#each fields}}
            <li>
                {{> InputField }}
            </li>
        {{/each}}
    </ul>
    {{> LinkButton type="submit" href="./profile" displayName="Change password"}}
</form>