.messages-page {
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 100%;
}

.chats-list-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #ccc;
    background: #fcfcfc;
    width: 25vw;
    min-width: 16rem;
    max-width: 33vw;
}

.search-block {
    padding: 16px 12px;
    border-bottom: 1px solid #ccc;
}

.search-block input {
    width: 100%;
    height: 28px;
    border: none;
    border-radius: 4px;
}

.chats-list-block {
    height: 100%;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
}

.chats-list-block li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat-list-item {
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.chat-list-item__avatar {
    background: linear-gradient(90deg, rgba(9,9,121,1) 39%, rgba(0,212,255,1) 100%);
}

.chat-list-item__chat-name {
    margin-left: 8px;
}

.profile-info-block {
    display: flex;
    align-items: center;
    padding: 16px 12px;
    border-top: 1px solid #ccc;
}

.avatar-circle-small {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.profile-info-block__avatar {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.profile-info-block .profile-info-block__display_name {
    margin-left: 12px;
}
