.chat-column {
    width: 96%;
    height: 100vh;
    min-width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-header {
    width: 100%;
    padding: 16px 16px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background: #fcfcfc;
}

.chat-header__info-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-header .chat__display_name {
    margin-left: 12px;
}

.chat-body {
    padding: 12px;
    overflow: scroll;
}

.chat-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.chat-container .message {
    margin-top: 8px;
}

.message {
    padding: 10px;
    border-radius: 8px;
    background: #fff;
}

.chat-footer {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid #ccc;
    background: #fcfcfc;
}

.chat-footer__input-group {
    width: 100%;
}

.chat-footer__input-group__button-row {
    display: flex;
    margin-top: 8px;
}

.chat-footer__input-group__button-row button {
    height: 30px;
    min-width: 30px;
    font-size: 12px;
    padding: 4px;
}

.chat-body__message-input {
    width: 100%;
}
