.settings-form {
    position: relative;
    width: 410px;
    margin: 4em auto;
    padding: 3em 1em;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    background-color: #ffffff;
}

.personal-data {
    position: relative;
    padding: 24px 4px;
    background-color: #f8f8f8;
    border-radius: 4px;
}

.personal-data input {
    border: none;
    background-color: #f8f8f8;
    text-align: end;
}

.personal-data .pencil_icon {
    right: 12px;
    top: -15px;
}

.settings-form .link-button, .personal-data, .personal-data-edit {
    margin-top: 20px;
}

.avatar_input {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 80px;
    background-color: #c3c5c5;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.avatar_input input {
    border: none;
}

.avatar_input .pencil_icon {
    position: absolute;
    right: 7px;
    bottom: 7px;
}

.back_icon {
    font-size: 40px;
    text-decoration: none;
    color: #ccc;
    position: absolute;
    left: 24px;
    top: 8px;
}

.pencil_icon {
    position: absolute;
    right: 8px;
    bottom: 8px;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: #f2f2f2;
}

.pencil_icon a {
    text-decoration: none;
}
