form {
  width: 410px;
  margin: 4em auto;
  padding: 3em 1em;
  border-radius: 1em;
  background-color: #ffffff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form li + li {
  margin-top: 1em;
}

li {
  display: flex;
  align-items: center;
}

#second_block {
  margin-top: 2em;
}

label {
  width: 90px;
  margin-right: 1em;
  display: inline-block;
  text-align: right;
}

input {
  width: 280px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font: 1em sans-serif;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.button-group a {
  line-height: 26px;
  margin: 0 1em;
  padding: 4px 12px;
  background-color: #e5e5e5;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  text-decoration: none;
}
