@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/* set up typography, spacings, color scheme */
body, button {
  font-family: 'Muli', sans-serif;
}

body {
    height: 100%;
    margin: 0;
    background-color: #f5f5f5;
    font-size: 14px;
}

#back_icon {
    font-size: 40px;
    text-decoration: none;
    color: #ccc;
}

#pencil_icon {
    position: absolute;
    right: 8px;
    bottom: 8px;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: #f2f2f2;
}

#pencil_icon a {
    text-decoration: none;
}

button {
    height: 34px;
    margin: 0 1em;
    padding: 4px 12px;
    border-radius: 5px;
    border: none;
}

button a {
    text-decoration: none;
    color: #0f0f0f;
}

.accent {
  background-color: #d4482c;
}

.accent:hover {
  background-color: #c23d23;
}

.avatar-circle-small {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}