<form class="settings-form" action="" method="post">
  <ul>
    {{#each fields}}
      <li class="{{this.field}}">
        {{> InputField }}
      </li>
    {{/each}}
  </ul>
  <li class="button-group">
    {{> LinkButton href='/messages' displayName='Sign up' type="submit" isAccent="accent"}}
    {{> LinkButton href='/' displayName='Sign in'}}
  </li>
</form>
